<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="child.css"/>
</head>
<body>
    <div>
        <table width="80%" border="1px" cellpadding="0"  cellspacing="0" align="center">
            <caption>国家免疫规划疫苗儿童免疫程序表</caption>

            <br/>
            <tr>
                <td colspan="2">
                    疫苗种类
                </td>
                <td colspan="16">
                    接种年（月）龄
                </td>
            </tr>
            <tr>
                <td>名称</td>
                <td>缩写</td>
                <td>出生时</td>
                <td>1月</td>
                <td>2月</td>
                <td>3月</td>
                <td>4月</td>
                <td>5月</td>
                <td>6月</td>
                <td>7月</td>
                <td>8月</td>
                <td>9月</td>
                <td>18月</td>
                <td>2岁</td>
                <td>3岁</td>
                <td>4岁</td>
                <td>5岁</td>
                <td>6岁</td>
            </tr>
            <tr>
                <td>乙肝疫苗</td>
                <td>HepB</td>
                <td>1</td>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>3</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>
    </div>
</body>
</html>